
body {
    backface-visibility: visible;
    background-color: navy;
}

.login-box{
    border-style: solid;
    border-color: green;
    border-width: thick;
    text-align: center;
    background-color: navy;
    color: whitesmoke;
    padding: 40px;
    border-radius: 10px;
    margin-top: 250px;
    margin-left:175px;
    width:960px;
    height: 400px;
        } 

.login-page{
	background-color: green;
        }

.login-button{
  border-width: 0px;
  border-radius: 5px;
  border-color: whitesmoke; 
  margin-left: 15px;
  margin-top; 500px;
  background-color: green;  
  color: whitesmoke;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-family: monospace;
}

.subject-box{
    border-style: solid;
    border-color: green;
    border-width: thick;
    text-align: center;
    background-color: navy;
    color: whitesmoke;
    padding: 40px;
    border-radius: 10px;
    margin-top: 250px;
    margin-left:175px;
    width:960px;
    height: 100px;
    font-family: monospace;
}

.upload-button {
  position: relative;
  display: inline-block;
}

.upload-button-cover {
  border-width: 0px; 
  background-color: green;
  color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-family: monospace;
  margin-left: 20px;
}

.upload-button input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.text-style {
    font-size: 20px;
    font-family: monospace;
    color: whitesmoke;
}

.title-text {
    font-size: 36px;
    color: whitesmoke;
    font-family: monospace;
    font-style: normal;
}